html{
    scroll-behavior: smooth;
}

.imagem{
    background-image: 
    url(../Imagens/teste2.jpg);
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

/*Header*/
.header{
    height: 80px;
}


.header img{
    width: 80px;
    height: 80px;
}

.header .logo{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span{
    margin-left: 10px;
    font-size: 23px;
    color: white;
}

.header .container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.navbar{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    width: 40vw;
}

.navbar a{
    color: black;
}

.navbar2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    border: 1px solid white;
    border-radius: 20px;
    width: 6vw;
}

.navbar2:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid white;
}

.navbar li a:hover{
border-bottom: 1px solid black;
}



/* Banner */

.banner{
    display: flex; 
    width: 100%;
    height: 650px;
}

.banner .container{
    height: 100%;
    width: 80%;
    margin: auto;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height:100%;
    width: 100%;
}

.banner .titulo{
    font-size: 30px;
    padding-left: 20px;
    color: white;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.banner .frase{
    color: white;
    text-align: start;
    width: 40%;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner .frase p{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    font-weight: 600;
    margin: 0;
}

.botao{
    padding-left: 20px;
}

button{
    width: 8vw;
    height: 45px;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover{
    color: black;
    background-color: white;
}

/* Inicio Banner 2 */

.banner2{
    height: 600px;
}

.banner2 .container2{
    width: 80%;
    height: 100%;
    margin:auto;
    padding-top: 100px;
}

.card{
    display: flex;
    height:70%;
    border: 1px solid black;
}

.banner2 .card1{
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: white;
}

.banner2 .titulo{
    font-size: 30px;
    margin-left: 80px; 
}


.banner2 .frase{
    margin-left: 80px;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.banner2 .card2{
    width: 40%;
}

.banner2 p{
    padding: 0%;
}

.banner2 img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

/* Terceiro Card */

.banner3{
    height: 600px;
}

.banner3 .container3{
    width: 80%;
    height: 100%;
    margin:auto;
    padding-top: 100px;
}

.cards{
    display: flex;
    height:70%;
    border: 1px solid black;
}

.banner3 .card1{
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: white;
}

.banner3 .titulo{
    font-size: 30px;
    margin-left: 80px; 
}

.banner3 .frase{
    margin-left: 80px;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.banner3 .card2{
    width: 40%;
}

.banner3 p{
    padding: 0%;
}

.banner3 img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

